*.com
*.class
*.dll
*.exe
*.rar
*.tar
*.zip

*.iml

.idea
.DS_Store
.DS_Store?
.Trashes
.sonar
Icon?
Thumbs.db
build
lib
out
logs
OWASP-Dependency-Check
output.txt
nohup.out
forcetalk.tar.gz
ext/certs/forcetalk.p12
ext/certs/forcetalk.pem

!pipeline/build